<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/layout.html :: head"/>
	<script type="text/javascript" th:src="@{/js/form.js}"></script>
<meta charset="ISO-8859-1">
<title>Create Subcategory</title>
</head>
<body>
	<div th:replace="fragments/layout.html :: header"></div>
	
	<form class="border border-light p-5" method="post" th:action="@{/subcategory/save}" th:object="${subcategory}">
		<p class="h4 mb-4">Create Subcategory</p>
		<div class="form-row">
			<input type="hidden" th:field="*{id}"> 
			<label class="control-label">Product Category</label>
				<select id="categorySelect" th:field="*{category}" class="custom-select mb-4">
				     <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.Name}"></option>
				     </select>
			
			<label>Subcategory Name</label>
		</div>
		<div class="form-row">
				<input type="text" class="form-control mb-4" placeholder="Subcategory name" th:field="*{name}" required>
				<span class="text-danger" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
		</div>

		<button class="btn btn-info my-4 mx-0" type="submit">Submit</button>

	</form>	

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>