<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout.html :: head"/>
    <title>Edit User</title>
</head>
<body>
    <div th:replace="fragments/layout.html :: header"></div>

    <form class="border border-light p-5" method="post" th:action="@{/user/edit}">
        <p class="h4 mb-4">Edit User</p>

        <label for="id">ID</label>
        <input type="text" class="form-control mb-4" id="id" th:field="${oldUser.id}" readonly>

        <div class="form-row mb-4">
            <div class="col">
                <label for="oldUsername">Current Username</label>
                <input type="text" class="form-control" id="oldUsername" th:value="${oldUser.username}" disabled>
            </div>
            <div class="col">
                <label for="username">New Username (Leave blank to not change)</label>
                <input type="text" class="form-control" id="username" th:field="${user.username}">
                <span class="text-danger" th:if="${#fields.hasErrors('${user.username}')}" th:errors="${user.username}"></span>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <label for="oldPassword">Current Password</label>
                <input type="text" class="form-control" id="oldPassword" value="************" disabled>
            </div>
            <div class="col">
                <label for="password">New Password (Leave blank to not change)</label>
                <input type="password" class="form-control" id="password" th:field="${user.password}">
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <label for="oldRole">Current Role</label>
                <input type="text" class="form-control" id="oldRole"
                       th:value="${oldUser.role.displayValue}" disabled>
            </div>
            <div class="col">
                <label for="role">New Role</label>
                <select class="custom-select" id="role" th:field="${user.role}">
                    <option th:value="${oldUser.role}">No change</option>
                    <option value="ADMIN_CLERK">Admin Clerk</option>
                    <option value="MECHANIC">Mechanic</option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('${user.role}')}" th:errors="${user.role}"></span>
            </div>
        </div>
        
        <div class="form-row mb-4">
            <div class="col">
                <label for="oldEmail">Current Email</label>
                <input type="text" class="form-control" id="oldEmail"
                       th:value="${oldUser.email}" disabled>
            </div>
            <div class="col">
                <label for="role">New Email (Leave blank to not change)</label>
                <input type="text" class="form-control" id="email" th:field="${user.email}">
                <span class="text-danger" th:if="${#fields.hasErrors('${user.email}')}" th:errors="${user.email}"></span>
            </div>
        </div>        

        <button class="btn btn-mdb-color my-4 mx-0" type="submit">Submit</button>
    </form>

    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>