<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</head>
<body>
	<div th:fragment="header"></div>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="#" class="navbar-brand">Brand</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="#" class="nav-item nav-link active">Home</a> 
					<a href="#"	class="nav-item nav-link">About</a>
					<a href="#"	class="nav-item nav-link">Products</a>
				</div>
				<div class="navbar-nav ml-auto">
					<span th:text="${session.user} ? 'Welcome, ' + ${session.user.username} : ''" class="nav-item nav-link"></span>
					<a th:if="${session.user} == null" th:href="@{/register}" class="nav-item nav-link">Register</a>
					<a th:if="${session.user} == null" th:href="@{/login}" class="nav-item nav-link">Login</a>
					<a th:if="${session.user} != null" th:href="@{/logout}" class="nav-item nav-link">Logout</a>
					
				</div>
			</div>
		</nav>
	</div>
	<!-- 
	<div th:fragment="navbar">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="">IMS</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:href="@{/}">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a
						th:text="${session.user} ? 'Welcome, ' + ${session.user.username} : ''"></a></li>
					<li th:if="${session.user} == null"><a href="#"
						th:href="@{/register}"><span class="glyphicon glyphicon-user"></span>
							Register</a></li>
					<li th:if="${session.user} == null"><a href="#"
						th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
					<li th:if="${session.user} != null"><a href="#"
						th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>
							Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
	-->

	<div class="col-md-8" th:fragment="footer">
		<p>
			<small
				th:text="'Time is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></small>
		</p>
		<p>
			<small>Don't stay up too late! Team 10 placeholder footer</small>
		</p>
	</div>
</body>
</html>