<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout.html :: head"/>
    <title>Stock Entry Form</title>
</head>

<body>
    <div th:replace="fragments/layout.html :: header"></div>
    <form class="border border-light p-5" method="post" th:action="@{/form/stockentry/created}">
        <p class="h4 mb-4">Stock Entry Form</p>

        <label for="productName">Product Name</label>
        <input type="text" class="form-control mb-4" id="productName" th:value="${reorder.item.product.name}" disabled>

        <label for="reorderQty">Reorder Quantity</label>
        <input type="text" class="form-control mb-4" id="reorderQty" name="reorderQty" th:value="${reorder.quantity}" readonly>

        <label for="reorderDate">Reorder Date</label>
        <input type="text" class="form-control mb-4" id="reorderDate" th:value="${reorder.orderDate}" disabled>

        <label for="deliveryDate">Delivery Date</label>
        <input type="date" class="form-control mb-4" id="deliveryDate" name="deliveryDate" placeholder="Enter Date of Delivery">

        <input type="hidden" name="reorderId" th:value="${reorder.id}">

        <button class="btn btn-dark-green my-4 mx-0" type="submit">Submit Stock Entry</button>
    </form>
    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>



