<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/layout.html :: head"/>
	<th:block th:replace="fragments/bundle.html :: bootstrapselect" />
	<script type="text/javascript" th:src="@{/js/form-update-reorder.js}"></script>
<meta charset="ISO-8859-1">
<title>Stock Reorder Form</title>
</head>
<body>
	<div th:replace="fragments/layout.html :: header"></div>
	
	<form class="border border-light p-5" method="post" th:action="@{/product/reorder}">
		<div class="form-row">
			<p class="h4 mb-4">Stock Reorder Form</p>
		</div>
		<div class="form-row">
			<div class="col">
				<label class="control-label">Stock Reorder Form</label>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<select id="returnItem" name="itemId" class="selectpicker" data-live-search="true" data-width="fit" onchange="updateUnits(this)">
						<option th:each="item : ${inventory}" th:value="${item.id}" th:text="${item.product.partNumber} + ' - ' + ${item.product.name}" 
							th:attr="data-units=${item.units}, data-rol=${item.reorderAt}, data-mrq=${item.reorderQuantity}"
							th:data-tokens="${item.product.description} + ' ' + ${item.product.partNumber} + ' ' + ${item.product.color} + ' ' + ${item.product.supplier.name}">
							Winter Tyres
						</option>
				</select>				
			</div>			
		</div>

		<div class="form-row">
			<div class="col">
				<label class="control-label">Quantity On Hand</label>
				<input type="number" id="qoh" min="0" th:value="${inventory[0].units}" class="form-control mb-4" disabled>
			</div>
		</div>
		
		<div class="form-row">
			<div class="col">
				<label class="control-label">Reorder Level</label>
				<input type="number" id="rol" min="0" th:value="${inventory[0].reorderAt}" class="form-control mb-4" disabled>
			</div>
		</div>
		
		<div class="form-row">
			<div class="col">
				<label class="control-label">Minimum Reorder Quantity</label>
				<input type="number" id="mrq" min="0" th:value="${inventory[0].reorderQuantity}" class="form-control mb-4" disabled>
			</div>
		</div>				

		<div class="form-row">
			<div class="col">
				<label class="control-label">Quantity To Reorder</label>
				<input type="number" id="quantity" name="qtyToReorder" min="0" placeholder="Enter quantity to reorder" class="form-control mb-4" required>
			</div>
		</div>
			
		<button class="btn btn-info my-4 mx-0" type="submit">Submit</button>

	</form>	

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>