<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/layout.html :: head"/>
	<script type="text/javascript" th:src="@{/js/form.js}"></script>
<meta charset="ISO-8859-1">
<title>Add Suppliers</title>
</head>
<body>
	<div th:replace="fragments/layout.html :: header"></div>
	<div class="border border-dark container-fluid col-md-4 col-md-offset-4">
		<div class="row-fluid">
			<div class="span12">
				<fieldset>
					<legend>Add Product</legend>
					<form class="form-horizontal" action = "" method="get" th:action="@{/product/save}" th:object="${product}">
						<div class="control-group">
							<input type="hidden" th:field="*{id}"> 
							<div class="controls">
								<label class="control-label">Product Name</label>
								<input type="text" th:field="*{name}" name="prodname" id="prodname required" title="Product Name" value="" required>
								<label class="control-label">Product Description</label>
								<input type="text" th:field="*{description}" name="proddesc" id="proddesc required" title="Product Description" value="" required>
								<label class="control-label">Part Number</label>
								<input type="text" th:field="*{partNumber}" name="prodpn" id="prodpn required" title="Product Part Number" value="" required>
								<label class="control-label">Product Original Price</label>
								<input type="text" th:field="*{originalPrice}" name="prodop" id="prodop required" title="Product Original Price" value="" required>
								<label class="control-label">Product Wholesale Price</label>
								<input type="text" th:field="*{wholesalePrice}" name="prodwp" id="prodwp required" title="Product Wholesale Price" value="" required>
								<label class="control-label">Product Retail Price</label>
								<input type="text" th:field="*{retailPrice}" name="prodrp" id="prodrp required" title="Product Retail Price" value="" required>
								<label class="control-label">Product Partner Price</label>
								<input type="text" th:field="*{partnerPrice}" name="prodpp" id="prodpp required" title="Product Partner Price" value="" required>
								<label class="control-label">Product Color</label>
								<input type="text" th:field="*{color}" name="prodcolor" id="prodcolor required" title="Product Color" value="" required>
								<label class="control-label">Product Supplier</label>
								<select th:field="*{supplier}">
								    <option th:each="sup : ${suppliers}" th:value="${sup.id}" th:text="${sup.name}"></option>
								</select>
								<label class="control-label">Product Measurement</label>
								<input type="text" th:field="*{measurement}" name="prodmeasurement" id="prodmeasurement required" title="Product Measurement" value="" required>
								<label class="control-label">Product Measurement Type</label>
								<input type="text" th:field="*{measurementType}" name="prodmt" id="prodmt required" title="Product Measurement Type" value="" required>
								<label class="control-label">Product Image</label>
								<input type="text" th:field="*{image}" name="prodimage" id="prodimage required" title="Product Image" value="" required>
								<label class="control-label">Product Category</label>
								<select th:field="*{category}">
								    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
								</select>
								<label class="control-label">Product Subcategory</label>
								<select th:field="*{subcategory}">
								    <option th:each="subcat : ${subcategories}" th:value="${brand.id}" th:text="${brand.name}"></option>
								</select>
								<label class="control-label">Product Brand</label>
								<select th:field="*{brand}">
								    <option th:each="brand : ${brands}" th:value="${subcat.id}" th:text="${subcat.name}"></option>
								</select>
								
							</div>
						</div>
						<br />
						<div class="form-actions">
							<button type="submit" class="btn btn-success">Save</button>
							<button type="button" class="btn" onclick="cancel()">Cancel</button>
						</div>
					</form>
				</fieldset>
				</div>
			</div>
		</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>