<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/layout.html :: head"/>
	<th:block th:replace="fragments/bundle.html :: mdtable"/>
	<Title>Supplier List</Title>
</head>
<body>
	<div th:replace="fragments/layout.html :: header"></div>

	<table id="dataTable"
		class="table table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th class="th-sm">ID</th>
				<th class="th-sm">Name</th>
				<th class="th-sm"></th>
				<th class="th-sm"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="supplier:${suplist}">
				<td th:text="${supplier.id}">ID</td>
				<td th:text="${supplier.name}">ID</td>
				<td><a href="EditProduct.html" th:href="@{/supplier/edit/}+${supplier.id}" th:utext="#{supplier.page.edit}"> Edit </a></td>
	      <td><a href="DeleteProduct.html"
		th:href="@{/supplier/delete/}+${supplier.id}" th:utext="#{supplier.page.delete}"> Delete </a></td>
			</tr>
		</tbody>
	</table>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>