<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/layout.html :: head"/>
	<script type="text/javascript" th:src="@{/js/form.js}"></script>
<meta charset="ISO-8859-1">
<title>Add Suppliers</title>
</head>
<body>
	<div th:replace="fragments/layout.html :: header"></div>
	<div class="border border-dark container-fluid col-md-4 col-md-offset-4">
		<div class="row-fluid">
			<div class="span12">
				<fieldset>
					<legend>Add Product</legend>
					<form class="form-horizontal" action = "" method="get" th:action="@{/product/save}" th:object="${product}">
						<div class="control-group">
							<input type="hidden" th:field="*{id}"> 
							<div class="controls">
								<label class="control-label">Product Name</label>
								<input type="text" th:field="*{name}" name="prodname" id="prodname required" title="Product Name" value="" required>
								<label class="control-label">Product Description</label>
								<input type="text" th:field="*{description}" name="proddesc" id="proddesc required" title="Product Description" value="" required>
								<label class="control-label">Part Number</label>
								<input type="text" th:field="*{partNumber}" name="prodpn" id="prodpn required" title="Product Part Number" value="" required>
								<label class="control-label">Product Type</label>
								<input type="text" th:field="*{type}" name="prodtype" id="prodtype required" title="Product Type" value="" required>
								<label class="control-label">Product Original Price</label>
								<input type="text" th:field="*{originalPrice}" name="prodop" id="prodop required" title="Product Original Price" value="" required>
								<label class="control-label">Product Wholesale Price</label>
								<input type="text" th:field="*{wholesalePrice}" name="prodwp" id="prodwp required" title="Product Wholesale Price" value="" required>
								<label class="control-label">Product Retail Price</label>
								<input type="text" th:field="*{retailPrice}" name="prodrp" id="prodrp required" title="Product Retail Price" value="" required>
								<label class="control-label">Product Partner Price</label>
								<input type="text" th:field="*{partnerPrice}" name="prodpp" id="prodpp required" title="Product Partner Price" value="" required>
								<label class="control-label">Product Color</label>
								<input type="text" th:field="*{color}" name="prodcolor" id="prodcolor required" title="Product Color" value="" required>
								<label class="control-label">Product Dimension</label>
								<input type="text" th:field="*{dimension}" name="proddimension" id="proddimension required" title="Product Dimension" value="" required>
								<label class="control-label">Product Manufacturer</label>
								<input type="text" th:field="*{manufacturer}" name="prodmanufacturer" id="prodmanufacturer required" title="Product Manufacturer" value="" required>
								<label class="control-label">Product Reorder At</label>
								<input type="text" th:field="*{reorderAt}" name="prodra" id="prodra required" title="Product Reorder At" value="" required>
								<label class="control-label">Product Reorder Quantity</label>
								<input type="text" th:field="*{reorderQuantity}" name="prodrq" id="prodrq required" title="Product Reorder Quantity" value="" required>
								<label class="control-label">Product Shelf Location</label>
								<input type="text" th:field="*{shelfLocation}" name="prodsl" id="prodsl required" title="Product Shelf Location" value="" required>
							</div>
						</div>
						<br />
						<div class="form-actions">
							<button type="submit" class="btn btn-success">Add</button>
							<button type="button" class="btn" onclick="cancel()">Cancel</button>
						</div>
					</form>
				</fieldset>
				</div>
			</div>
		</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>