<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout.html :: head"/>
    <th:block th:replace="fragments/bundle.html :: mdtable"/>
    <title>Product List</title>
</head>
<body>
<!--if failed try th:insert-->
<div th:replace="fragments/layout.html :: header"></div>
<h2>Product Catalogue</h2>
<p>Click the <b> <span style="color: red;"> NAME</span></b> to show product detail</p>
<table id="dataTable"
       class="table table-striped table-bordered table-sm">
    <thead>
    <tr>
        <th>NAME</th>
        <th>IMAGES</th>
        <th>DESCRIPTIONS</th>

    </tr>
    </thead>
<tbody>
    <tr th:each="product:${prod}">
        <td><a href="DetailProduct.html" th:href="@{/ViewProduct/showdetail/}+ ${product.Id}" th:text="${product.name}"></a></td>


        <td th:src="@{product.image.jpg}", loading='lazy' >IMAGES</td>
        <td th:text="${product.description}">DESCRIPTIONS</td>



    </tr>
</tbody>
</table>
<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>